<html>
<head>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <!--<script src="/core/media/media.nl?id=6848&c=TSTDRV1203574&h=a2498e17617c92644275&mv=hv49ww6o&_xt=.js&whence="></script>
  <script src="/core/media/media.nl?id=6850&c=TSTDRV1203574&h=9be03476150226703531&_xt=.js"></script>
  <script src="/core/media/media.nl?id=6851&c=TSTDRV1203574&h=e60e0213f188dc096f8f&_xt=.js"></script>
  <script src="/core/media/media.nl?id=6852&c=TSTDRV1203574&h=d50441558ab7f73d9480&_xt=.js"></script>
  <script src="/core/media/media.nl?id=6853&c=TSTDRV1203574&h=278815b87270499bac37&_xt=.js"></script>
  <script src="/core/media/media.nl?id=6854&c=TSTDRV1203574&h=352d77bb14503feda608&_xt=.js"></script>
  <script src="/core/media/media.nl?id=6849&c=TSTDRV1203574&h=2b3f82e4383799d0916b&mv=hv49xaug&_xt=.js&whence="></script>-->
  <script src="/core/media/media.nl?id=6855&c=TSTDRV1203574&h=ed7bfd10c0646c4eaf33&mv=hv4aeu0o&_xt=.js&whence=">//highmaps.js</script>
  <script src="/core/media/media.nl?id=6856&c=TSTDRV1203574&h=3243b01c63a1fa41e392&mv=hv4ajhgg&_xt=.js&whence=">//world.js</script>
  <script src="/core/media/media.nl?id=6748&c=TSTDRV1203574&h=d8921cc7e8c3a93e9771&mv=hv48qcjs&_xt=.js&whence="></script>
</head>
<body>
<div id='mapcanvas'></div>
</body>
</html>